#nickname-textarea {
    resize: none;
    text-align: center;
    line-height: 0.9;
    padding-top: 11px;
}

h3 {
    margin-bottom: 12px;
}

#username-textarea {
    resize: none;
    line-height: 0.9;
    text-align: center;
    padding-top: 11px;
}
#notes-textarea {
    height: 200px;
    resize: none;
}

#save-button {
    margin-top: 30px;
    background-color: green;
    width: 100px;
    font-weight: 800;
    height: 30px;
}

main {
    width: 300px;
}
body {
    text-align: center;
}

