body {
    flex-direction: column;
    justify-content: flex-start;
}

#topPart {
    width: 100%;
    text-align: center;
}

#scroll {
    overflow-y: scroll;
    height: 100%;
}

/* Change row color if ODD number */

.chatRow:nth-of-type(1n) {
    background-color: burlywood;
}

/* Change row color if EVEN number */

.chatRow:nth-of-type(2n) {
    background-color: beige;
}

.chatRow {
    height: 50px;
    font-size: 24px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.optionsButton {
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    background: none;
    border: none;
}

.optionsButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.chatName {
    font-weight: bold;
    cursor: pointer;
}

.chatDate {
    font-style: italic;
}