<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}

    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/add_contact.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/add_contact.js"></script>
</head>

<body>
    <main>
        {{>Header title="Add a Contact" backPath="/contact-list"}}
        <h3>Username</h3>
        <textarea id="username-textarea"></textarea>
        <h3>Nickname</h3>
        <textarea cols="40" id="nickname-textarea"></textarea>
        <h3>Notes</h3>
        <textarea id="notes-textarea"></textarea>
        <div>
            <button id="save-button" onclick="addContact();">Save</button>
        </div>

    </main>
</body>

</html>