<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat List</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/chat_list.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/chat_list.js"></script>
</head>
<body>
    <h2>Stuff from model</h2>
    <p>{{content}}</p>
</body>
</html>