<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}

    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/chat.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/chat.js"></script>
</head>

<body>
    {{>Header title="Chat" backPath="/chat-list"}}
    <div id="scroll">
        {{#each messages}}
        <ul class="chatMessage">
            <li class="messageContact">{{this.username}}</li>
            <li class="messageText">{{this.content}}</li>
            <li class="messageDate">{{this.timestamp}}</li>
        </ul>
        {{/each}}
    </div>

    <div id="inputArea">
        <button id="addUserButton" onclick="addUser()">+</button>
        <input type="text" id="inputText" name="inputText" placeholder="Enter Text Message">
        <button id="enterMessageButton" onclick="sendMessage('{{messages.[0].chatname}}')">➤</button>
    </div>
</body>

</html>