<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/contact_list.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/contact_list.js"></script>
</head>
<body>
    {{!-- <main> --}}
        <div id="contact-addbar">
            <input id="contact-searchbar" type="text" placeholder="Search.."> 
            <button>+</button> 
        </div>
        <div class="scroll">

        {{#each payload}}  
            <div class="contact-group" id="contact-group-{{@key}}">
                <h3 class="contact-group-head">
                    {{@key}}
                </h3>

                <div class="contact-group-body">
                    {{#each this}}
                        <div class="contact-group-item">
                            {{this.username}}
                        </div>
                    {{/each}}
                </div>
                
            </div>
        {{/each}}

        </div>
       
    {{!-- </main> --}}
   
</body>
</html>
