<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/contact_info.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/contact_info.js"></script>
</head>
<body>
    <main>
        <h2>Contact Info</h2>
        <h3>Username</h3>
        <textarea disabled id="username">{{username}}</textarea>
        <h3>Nickname</h3>
        <textarea cols="40" id="nickname-textarea">{{nickname}}</textarea>
        <h3>Notes</h3>
        <textarea id="notes-textarea">{{notes}}</textarea>

        <div id="save-delete-buttons">
            <button id="save-button">Save</button>
            <button id="delete-button">Delete</button>
        </div>
    </main>
    
</body>
</html>