<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}

    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/create_chat.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/create_chat.js"></script>
</head>

<body>
    {{!-- Header partial --}}
    {{>Header title="Create a Chat" backPath="/home"}}

    {{!-- Enter chat name --}}
    {{!-- Add user by username --}}
    <div id="topPart">
        <div class="inputArea">
            <input type="text" id="chatname" placeholder="Chat Name">
            <input type="text" id="addUsername" name="addUsername" placeholder="Add by Username">
            <button id="addUsernameButton" onclick="addUsername()">Add User</button>
        </div>
        <h2>Added Contacts</h2>
    </div>

    <div id="added"></div>

    <div id="topPart">
        <h2>Add from Contacts</h2>
    </div>
    <div id="not_added"></div>

    <div id="topPart">
        <div class="inputArea">
            <button id="createChatButton" onclick="createChat()">Create Chat</button>
        </div>
    </div>
</body>

</html>