<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/home.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/home.js"></script>
</head>
<body>
    <main>
        <h1>Home</h1>
        <div id="buttons">
            <div id="home_nav">
                <a href="/chat-list">
                    <input type="button" value="Chat List">
                </a>
                
                <a href="/create-chat">
                    <input type="button" value="Create a Chat">
                </a>

                <a href="/search-chat">
                    <input type="button" value="Search for Chat">
                </a>

                <a href="/contact-list">
                    <input type="button" value="Contact List">
                </a>
            </div>


            <input type="button" value="Log Out" onclick="logout();">
        </div>
    </main>
</body>
</html>