<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/login.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/login.js"></script>
</head>
<body>
    <main>
        <img src="https://timesofindia.indiatimes.com/photo/67586673.cms" alt="logo" width="300px">

        <form>
            <div class="form_item">
                <span>Username</span>
                <input type="text" id="username" autocomplete="off">
            </div>

            <div class="form_item">
                <span>Password</span>
                <input type="password" id="password">
            </div>

            <div class="buttons">
                <input class="button" type="button" value="Login" onclick="onSubmit();">
                <input class="button" type="button" value="Register" onclick="goRegister();">
            </div>
        </form>
    </main>
</body>
</html>