<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}
    
    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/register.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/register.js"></script>
</head>
<body>
    <main>
        <h1>Register</h1>
        <form>
            <div class="form_item">
                <span>Username</span>
                <input type="text" id="username" autocomplete="off">
            </div>

            <div class="form_item">
                <span>Password</span>
                <input type="password" class="password">
            </div>

            <div class="form_item">
                <span>Confirm Password</span>
                <input type="password" class="password">
            </div>

            <div class="buttons">
                <input class="button" type="button" value="Register" onclick="onSubmit();">
            </div>
        </form>
    </main>
</body>
</html>