<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Chat</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}

    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/search_chat.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/search_chat.js"></script>
</head>

<body>
    <div id="topPart">
        <h2>Search Chat</h2>
        <div id="inputArea">
            <input type="text" id="searchText" name="searchText" placeholder="Search for Chat">
            <button id="searchButton" onclick="searchChat()">Search</button>
        </div>
        <h2>Results</h2>
    </div>
    <div id="scroll">
        {{#each chats}}
        <div class="chatRow">
            <button class="optionsButton" onclick="openOptions()">⋮</button>
            <span class="chatName">{{name}}</span>
            <span> | </span>
            <span class="chatDate">{{date}}</span>
        </div>
        {{/each}}
    </div>
</body>

</html>