<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Chat</title>

    {{!-- Scripts and Styles repeated across all pages --}}
    {{!-- These scripts should go first --}}
    {{>Scripts}}
    {{>Styles}}

    {{!-- Styles specific to this view --}}
    <link rel="stylesheet" href="/css/search_chat.css">
    {{!-- Scripts specific to this view --}}
    <script src="/js/search_chat.js"></script>
</head>

<body>
    {{!-- Header partial --}}
    {{>Header title="Search for Chat" backPath="/home"}}
    {{!-- Search for chat text field --}}
    <div id="topPart">
        <div id="inputArea">
            <input type="text" id="searchText" name="searchText" value="{{searched}}" placeholder="Search for Chat">
            <button id="searchButton" onclick="searchChat()">Search</button>
        </div>
        <h2>Results</h2>
    </div>

    {{!-- Scrollable div --}}
    <div id="scroll">
        {{!-- Loop over every chat from model --}}
        {{#each chats}}
        <div class="chatRow">
            <button class="optionsButton" onclick="openOptions()">⋮</button>
            <span onclick="joinChat('{{this.id}}')" class="chatName">{{this.chatname}}</span>
            {{!-- <span> | </span>
            <span class="chatDate">{{date}}</span> --}}
        </div>
        {{/each}}
    </div>
</body>

</html>